<div class="container container-margin">
  <!-- <p>
    search-flights works!
  </p> -->
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 div-box">
        <form>
            <div class="form-group">
              <label class="radio-inline radio-margin"><input type="radio" name="one_way" checked>One Way</label>
              <label class="radio-inline radio-margin"><input type="radio" name="round_trip">Round Trip</label>
            </div>
            <div class="input-inline">
              <div class="form-group col-md-5">
                <label for="from">From:</label>
                <input type="text" class="form-control" id="from">
              </div>
              <button class="btn btn-link">&#8644;</button>
              <div class="form-group col-md-5">
                <label for="to">To:</label>
                <input type="text" class="form-control" id="to">
              </div>
            </div>
        </form>
    </div>
  </div>
</div>