<p>
  confirmation works!
</p>

<div class="container container-margin">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <mat-card>
          <mat-card-title>Congratulation {{nameSuffix}} {{travellerDetails.firstName}} {{travellerDetails.lastName}}!!</mat-card-title>
          <mat-card-content>
            <div>
            Your Ticket has been booked Successfully
            {{flightDetails.fromPlace}} - {{flightDetails.toPlace}}
            </div>
            <div>
              Travel Date - {{flightDetails.travelDate}}
            </div>
            <div>
              Departure - {{flightDetails.journeyStartTime}}
            </div>
            <div>
              Arrival - {{flightDetails.destinationReachTime}}
            </div>
            <div>
              Flight Duration - {{flightDetails.flightDuration}}
            </div>
            <div>
              Your Seat - {{seatno}}
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>